.truth {
  color: white;
  border: 5px solid darkblue;
  padding: 1em;
  background-color: lightblue;
  text-align: center;
  font-family: Montserrat;
  font-style: bold;  /*header box*/

}
ul { 
  list-style-type: none;
  margin-left:1px;
  margin-top:0;
  padding:0;
 Width: 400px;
  height:auto;
  border-top-style: none; 
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: solid;
  border-color: orange;
  font-family: Montserrat; /*Vertical nav. bar*/
  position: fixed;
  
  
}

li a {
  display: block;
  color: darkblue;
  padding: 8px 16px;
  text-decoration: none;  /*text for nav. bar*/
}

li a:hover {
  background-color: orange;
  color: white; /*hover color for nav. bar*/
  margin-left: 2em;
}


.heading1{
  color: orange;
  font-family: Montserrat;
  margin-top: 30px;
}

.rightcolumn {  
  margin-top: 30px;
  margin-bottom: 30px;
  float: right;
   width: 70%;
}
.right2 {
  float: inherit;
}
.right3 {  
  
  margin-bottom: 30px;
  float: right;
   width: 100%;
}

.par1{
  color:darkblue;
  margin-top: 20px;
  font-family: Montserrat;
  margin-right: 50px;
}
.par2{
  color:darkblue;
  margin-top: 0px;
  font-family: Montserrat;
  margin-left: 20px;
}
.par3{
  color:darkblue;
  margin-top: -30px;
  font-family: Montserrat;
  margin-right: 50px;
}

img {
  position: relative;
  left: 450px;
}

.img2 {
  position: relative;
  left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.img3 {
  position: relative;
  left: 100px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.img4 {
  position: relative;
  left: 150px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.a {
  list-style-type: circle;
  position: relative;
  border: none;
}
.b {
  list-style-type: circle;
  position: relative;
  border: none;
  margin-top: 15px;
}
.topimg{
 width: 1050px;
  height: 585px;
  object-fit: cover;
  object-position: 5px 13%;
}

#hiddenMessage {
  display:none;
  margin-top:30px;
  margin-right:750px;
    margin-left: 0;
  text-align:center;
}

#hiddenMessage1 {
  display:none;
  margin-top:30px;
  margin-right:600px;
    margin-left: 0;
  text-align:center;
}

#hiddenMessage2 {
  display:none;
  margin-top:30px;
  margin-right:600px;
    margin-left: 0;
  text-align:center;
}

#button1{
  background-color: lightblue; 
  color: white; 
  border: 2px solid darkblue;
  padding: 16px 32px;
  text-align: center;
   font-family: Montserrat;
  font-size: 15px;
  margin-top:15px;
  display: block;
  }

#button1:hover {
  background-color: white;
  color: orange;
}

.video{
  margin-top: 15px;
}
.video:hover{
  border-style: solid;
  border-color: orange;
  border-width: 5px;
}