.truth {
  color: white;
  border: 5px solid darkblue;
  padding: 1em;
  background-color: orange;
  text-align: center;
  font-family: Montserrat;
  font-style: bold;  /*header box*/
}
ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
 Width: 400px;
  border-top-style: none; 
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: solid;
  border-color: orange;
  font-family: Montserrat;   /*Vertical nav. bar*/
  
}


li a {
  display: block;
  color: darkblue;
  padding: 8px 16px;
  text-decoration: none;  /*text for nav. bar*/
}

li a:hover {
  background-color: orange;
  color: darkblue; /*hover color for nav. bar*/
}

.column {
  float: left;
  padding: 10px;}

  .column.side {
    width: 25%;}

.column.middle {
  width: 50%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}