.truth {
  color: white;
  border: 5px solid darkblue;
  padding: 1em;
  background-color: orange;
  text-align: center;
  font-family: Montserrat;
  font-style: bold;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 Width: 400px;
  background-color: white;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: solid, ;
  
  font-family: Montserrat;
  
}


li a {
  display: block;
  color: darkblue;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: orange;
  color: darkblue;
}
